.container {
  height: 6.563rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 6.563rem;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 1120px;
  left: 23.125rem;
  cursor: pointer;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  p {
    font-size: 1rem;
    font-weight: bold;
  }
}

.img {
  height: 2.563rem;
  position: relative;
  width: 2.563rem;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}
